@model Journey.ViewModels.Travels.TravelVM

@{
    ViewBag.Title = "Details";
}

<h2>DetailsList</h2>

<div>
    <h4>TravelVM</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeSpace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeSpace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
